<div class="edit">
  <h2>Update Product</h2>
  <form class="form" (submit) = "updateProduct(id)">
      <p>Name:</p> <p class="errors">{{nameError}}</p>
      <div *ngIf="name.errors && nameError==null">
          <p class="errors" *ngIf="name.errors.required">Name field is required!</p>
          <p class="errors" *ngIf="name.errors.minlength">Name field has to be greater than 4 characters!</p>
      </div>
      <input type="text" name="name" [(ngModel)]="product.name" #name="ngModel"
             required
             minlength="4"
      />
      <p>Quantity:</p> <p class="errors">{{quantityError}}</p>
      <div *ngIf="quantity.errors && quantityError==null">
          <p class="errors" *ngIf="quantity.errors.required != null">Quantity field is required!</p>
      </div>
      <input type="number" name="quantity" [(ngModel)]="product.quantity" #quantity="ngModel"
            required
      />
      <p>Price:</p> <p class="errors">{{priceError}}</p>
      <div *ngIf="price.errors && priceError==null">
          <p class="errors" *ngIf="price.errors != null">Price field is required!</p>
      </div>
      <input type="text" name="price" [(ngModel)]="product.price" #price="ngModel"
             required
      />
      
      <input *ngIf="quantity.errors==null && name.errors==null && price.errors==null" type="submit" value="Update"/>
  </form>
  <button (click)="reset()">Reset</button>
</div>
